@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap");

::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
  background-color: #000000;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;


  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.776); 
  z-index: -1;
}

.tax {
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vmin;
}

.tax img {
  width: 200px;

}

#tax{
    animation: tiltAnimation 2s ease-in-out infinite;
}

.container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pixel {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hey{
  font-weight: bold;
  color: black;

}

p{
  text-align: center;
}
.pixel3 {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active,
.pixel3:active {
  top: 2px;
}

.pixels {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes moveUp {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

button {
  font-family: 'VT323', 'arial';
  background: none;
  border: none;
  outline: none;
  display: block;
  font-size: 40px;
  padding: 10px;
  box-shadow: 5px 0px #1AB3DA, -5px 0px #1AB3DA, 0px 5px #1AB3DA, 0px -5px #1AB3DA, 0px 15px #1AB3DA, -5px 10px #1AB3DA, 5px 10px #1AB3DA;
  background: #28D1FD;
  color: #050505;
  transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
  cursor: pointer;
}

button:active {
  box-shadow: 5px 5px #2353E0, -5px 5px #2353E0, 0px 10px #2353E0, 0px 0px #133DB9, 0px 15px #2979FF, -5px 10px #2A6CDA, 5px 10px #2A6CDA;
  background: #2353E0;
  padding-top: 15px;
  padding-bottom: 5px;
  transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}


.pixel2 {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "VT323";
  text-transform: uppercase;

  font-size: 25px;
  color: rgb(0, 0, 0);
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #231303;
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgba(100, 23, 6, 0.866);
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: black;
  width: auto;
  z-index: 2;
}


.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.socials img{
    width: 50px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {

  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px; 
    padding: 24px 24px;
  
    font-size: 0.7em;
    z-index: 99;
    
  
    background: #FEC106;
    background: linear-gradient(135deg, transparent 10px, #231303 0) top left,
      linear-gradient(225deg, transparent 10px, #231303 0) top right,
      linear-gradient(315deg, transparent 10px, #231303 0) bottom right,
      linear-gradient(45deg, transparent 10px, #231303 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(
        circle at 0 0,
        rgba(204, 204, 0, 0) 14px,
        #231303 15px
      ),
      radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #231303 15px),
      radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #231303 15px),
      radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #231303 15px);
  }
  

  .pixel2 {
    position: relative;
    display: block;
    margin: 10px;
    font-family: "VT323";
    text-transform: uppercase;
  
    font-size: 15px;
    color: white;
  }
  
}